{% extends 'base.html' %}
{% block title %}Add Category{% endblock title %}

{% block content %}

<div class="container mt-5">
  <div class='col-6 offset-3 border shadow py-2'>
  <h1 class="text-center">Add a Category</h1>
  <br>
<form id="category_form" method="POST" action="{% url 'rangoapp:add_category' %}">
 {% csrf_token %}
 {% for hidden in form.hidden_fields %}
 {{ hidden }}
 {% endfor %}
 {% for field in form.visible_fields %}
 {{ field.errors }}
 {{ field.help_text }}
 {{ field }}
 {% endfor %}
 <input type="submit" name="submit" value="Create Category" class="btn btn-primary"/>
 </form>
  {% if category %}
<form role="form" id="page_form" method="post" action="/category/{{category.slug}}/add_page/">
<h2 class="form-signin-heading"> Add a Page to <a href="/category/{{category.slug}}/">{{ category.name }}</a></h2>
{% csrf_token %}
{% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %}
{% for field in form.visible_fields %}
{{ field.errors }}
{{ field.help_text }}<br/>
{{ field }}<br/>
{% endfor %}
<br/>
<button class="btn btn-primary" type="submit" name="submit">Add Page</button>
</form>
{% endif %}
</div>
 </div>
 {% endblock content %}