{% load static %}
<!-- footer.html -->
 <br>
<div class="container-fluid bg-light pt-5 border shadow">
    <!-- Highlighted Section -->
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="bg-primary text-white p-4 rounded mb-5 shadow">
                <h4>Have Any Project in Mind?</h4>
                <p>Are you in need of a professional and functional website that meets your business goals? I have got you covered! I offer
                a wide range of experienced web apps development, from front-end to back-end using most widely used back-end Python
                framework called DJANGO. I consistently bring the top tools directly builds web apps to those in need. My web
                development skills can create custom websites, web applications that are optimized for performance, security, and user
                experience. Whether you need a simple website or a complex web application, My web development skill have the expertise
                to deliver a solution that meets your needs. Browse my Portfolios below to find the perfect fit for your project. Let me
                create a website that exceeds your expectations.</p>
                <a class="btn btn-outline-light" href="https://infinitehackers.pythonanywhere.com/" role="button">Hire Us</a>
            </div>
        </div>
    </div>

    <!-- Footer Main Content -->
    <div class="row text-center text-md-left">
        <!-- Description and Social Links -->
        <div class="col-md-4 mb-4">
            <p>You can Follow Me on</p>
            <div class="social-links">
                <a href="https://www.youtube.com/@InfiniteHackersChannel-nt3sk" class="text-warning"><i class="fab fa-youtube"></i></a>
                <a href="#" class="text-warning mr-2"><i class="fab fa-facebook"></i></a>
                <a href="#" class="text-warning mr-2"><i class="fab fa-twitter"></i></a>
                <a href="#" class="text-warning"><i class="fab fa-instagram"></i></a>
            </div>
        </div>

        <!-- Links Section -->
        <div class="col-md-4 mb-4">
            <h5 class="font-weight-bold">Links</h5>
            <ul class="list-unstyled">
                <li><a href="#" class="text-dark">About Us</a></li>
                <li><a href="https://infinitehackers.pythonanywhere.com/" class="text-dark">Services</a></li>
                <li><a href="https://infinitehackers.pythonanywhere.com/my_projects/" class="text-dark">Portfolio</a></li>
                <li><a href="https://infinitehackers.pythonanywhere.com/blog_posts/" class="text-dark">Blog</a></li>
            </ul>
        </div>

        <!-- Contact Us Section -->
        <div class="col-md-4 mb-4">
            <h5 class="font-weight-bold">Contact Us</h5>
            <ul class="list-unstyled">
                <li><i class="fas fa-phone-alt text-warning"></i> whatsApp: +234 9136823282</li>
                <li><i class="fas fa-phone-alt text-warning"></i> Tel: +234 9035505885</li>
                <li><i class="fas fa-envelope text-warning"></i> infinitehackers142@gmail.com</li>
                <li><i class="fas fa-map-marker-alt text-warning"></i> No 8, Dauda street Byazhin Across Kubwa, FCT, Nigeria.</li>
            </ul>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="text-center py-3 bg-dark border-top">
        <p class="mb-0 text-white">&copy; 2024 All rights reserved.</p>
    </div>
</div>